SERVER_PORT=server_port_number
NODE_ENV=development

DB_CLIENT=client_type
DB_HOST=localhost
DB_USER=db_username
DB_PASSWORD=db_password
DB_PORT=db_port
DB_DATABASE=db_name

MIGRATION_DIR=./src/db/migrations/
SEED_DIR=./src/db/seeds/

AUTH_SECRET=auth_secret_here

AUTH_API_KEY_HASH=auth_api_key_hash_here 

PRIVATE_KEY=private_key_here
WAIT_TO_BE_MINED=3000
TOTAL_NO_OF_RETRIES=10

NODE_URL=node_ip_address
NODE_URLs=rpc_url_1,rpc_url_2,rpc_url_3,rpc_url_4,rpc_url_5,rpc_url_6,rpc_url_7,rpc_url_8

BACKUPTIME=55 23 * * *
FOLDER_NAME=folder_name/
AWS_S3_BUCKET_NAME=bucket_name
AWS_S3_ACCESS_KEY_ID=access_key_id
AWS_S3_SECRET_ACCESS_KEY=access_secret_key

REDIS_ENDPOINT=endpoint

MEMPOOL_REDIS_QUEUE=mempoolRedisQueue
BALLOT_REDIS_QUEUE=ballotRedisQueue
BLOCK_REDIS_QUEUE=blockRedisQueue
TRANSACTION_REDIS_QUEUE=transactionRedisQueue

LOOKUP_MEMPOOL_REDIS_QUEUE=lookupMempoolRedisQueue
LOOKUP_BALLOT_REDIS_QUEUE=lookupBallotRedisQueue

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=postgresql://db_username:db_password@db_host:db_port/db_name

 